<!-- Slider y formas   -->
<section id="slider">
    <div class="container-fluid" id="slider-content">
        <div class="row-fluid">
            <!-- Form izquierda -->
            <div class="col-md-2" id="search-form">
                <!-- Este es el date picker fecha inicio -->
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="startDate" class="col-md-6 control-label left-label">Fecha Inicio</label>
                            <div class="input-group col-md-6 startDateInput" id="btnStartDate" onClick="datePicker();">
                                <input type="text" class="form-control date-placeholder" name="name" placeholder="D/M/Y" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>  
                        </div>
                    </form>
                </div>     

                <!-- Este es el date picker fecha fin -->
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="endDate" class="col-md-6 control-label left-label">Fecha Fin</label>
                            <div class="input-group col-md-6 startDateInput" id="btnEndDate" onClick="datePicker();">
                                <input type="text" class="form-control date-placeholder" name="name" placeholder="D/M/Y" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>  
                        </div>
                    </form>
                </div>  

                <!-- Drop list de lugares de origen -->
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="startPlace" class="col-md-6 control-label left-label">Origen</label>
                            <div class="dropdown col-md-6">
                                <button class="btn btn-default dropdown-toggle lugarDropdown" type="button" data-toggle="dropdown">
                                    Lugares
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="lugar in lugarRecords"><a href="#">{{lugar.lugar}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Drop list de lugares de destino -->
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="endPlace" class="col-md-6 control-label left-label">Destino</label>
                            <div class="dropdown col-md-6">
                                <button class="btn btn-default dropdown-toggle lugarDropdown" type="button" data-toggle="dropdown" >
                                    Lugares
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="lugar in lugarRecords"><a href="#">{{lugar.lugar}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div> 

                <!-- Drop numero de personas -->
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="numberOfPeople" class="col-md-9 control-label left-label">Numero de personas</label>

                            <div class="form-group col-md-3" id="people-dropdown">
                                <select class="form-control numberValue">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Boton de buscar -->
                <div class="form-group">
                    <a ui-sref="viajesList" type="button" class="btn btn-primary btn-lg btn-block">Buscar</a>
                </div>
            </div>
            <!-- Slider -->
            <div class="col-md-8">
                <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#bs-carousel" data-slide-to="1"></li>
                        <li data-target="#bs-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item slides active">
                            <div class="slide-1"></div>
                            <div class="hero">
                                <hgroup>
                                    <h1>Seguridad</h1>
                                    <h3>Garantizada</h3>
                                </hgroup>
                            </div>
                        </div>
                        <div class="item slides">
                            <div class="slide-2"></div>
                            <div class="hero">
                                <hgroup>
                                    <h1>Buen Ambiente</h1>
                                    <h3>Todo El Tiempo</h3>
                                </hgroup>
                            </div>
                        </div>
                        <div class="item slides">
                            <div class="slide-3"></div>
                            <div class="hero">
                                <hgroup>
                                    <h1>Puntualidad</h1>
                                    <h3>Siempre</h3>
                                </hgroup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form derecha -->
            <div class="col-md-2" id="right-form">
                <!-- Esto es solo una forma que tiene titulo y su input-->
                <div id="notLoggedInfo">
                    <form>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Usuario</label>

                            <div class="cols-sm-10 input-group">
                                <span class="input-group-addon glyphicon glyphicon-user left-glyphicon"></span>
                                <input type="text" class="form-control" name="name" id="signInUser" placeholder="Ingresa tu usuario"/>
                            </div>
                        </div>
                    </form>

                    <form>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Contraseña</label>

                            <div class="cols-sm-10 input-group">
                                <span class="input-group-addon glyphicon glyphicon-lock left-glyphicon"></span>
                                <input type="password" class="form-control"id="signInPassword"  name="name" placeholder="Contraseña"/>
                            </div>
                        </div>
                    </form>

                    <!-- Boton de ingresar -->
                    <div class="form-group">
                        <a href="#" type="button" class="btn btn-primary btn-lg btn-block" onClick="signIn()" id="signIn">Ingresar</a>
                    </div>
                    <hr>
                    <h5 class="text-center">¿No tienes cuenta?</h5>

                    <!-- Boton de registrarse -->
                    <div class="form-group">
                        <a ui-sref="usuarioSelect" type="button" class="btn btn-primary btn-lg btn-block" id="signUp">Registrar</a>
                    </div>
                </div>

                <div class="row escondido" id="loggedInfo">
                    <h3 class="text-center">Bienvenido</h3>
                    <form>
                        <div class="form-group">
                            <img src="css/cabin.jpg" class="img-responsive" alt="conductor">  
                        </div>
                    </form>

                    <div class="container">
                        <label>Correo: </label>
                        <label id="loggedLabCorreo"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Seccion de conductores -->
<section id="conductores">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Las mejores experiencias para viajes en grupo</h2>
                <hr class="line-separator">
            </div>
        </div>
        <!-- Fotos de los conductores -->
        <div class="row">
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin2.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin3.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin4.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin5.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
            <div class="col-sm-4 conductores-item">
                <a>
                    <img src="css/cabin6.jpg" class="img-responsive" alt="conductor">  
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Sobre nosotros -->
<section class="success" id="sobre_nosotros">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre Nosotros</h2>
                <hr class="line-separator-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Somos una empresa dedicada a prestar servicios de transporte entre varias personas que comparten un origen y destino en común.</p>
            </div>
            <div class="col-lg-4">
                <p>Seleccionamos los mejores conductores para que todos los viajes sean cómodos y agradables para todos los usuarios. Presentamos una alternativa al transporte publico.</p>
            </div>
        </div>
    </div>
</section>