<div class="container-fluid">   
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Registro Para Viajes</h2>
                        <hr class="line-separator">
                    </div>
                </div>
                <form id="viajeForm">
                    <div class="form-group row" align = "center">
                        <label for="kilometros" class="cols-sm-2 control-label">Kilometros</label>
                        <div class="cols-sm-10 input-group">
                            <input type="number" class="form-control" name="kilometros" placeholder="Kilometros" ng-model="conductor.nombre" ng-init="conductor.nombre" required/>
                        </div>
                        
                        <label for="costo" class="cols-sm-2 control-label">Costo</label>

                        <div class="cols-sm-10 input-group">
                            <input type="number" class="form-control" name="Costo" placeholder="Costo por asiento" ng-model="conductor.correo" ng-init="conductor.correo" required/>
                        </div>
                        
                        <label for="fechaPartida" class="cols-sm-2 control-label">Fecha Partida</label>
                        
                        <div class="cols-sm-10 input-group">
                            <div class="input-group col-md-6 startDateInput" id="btnStartDate" onClick="datePicker();">
                                <input type="text" class="form-control date-placeholder" name="name" placeholder="D/M/Y" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                        
                        <label for="fechaLlegada" class="cols-sm-2 control-label">Fecha Llegada</label>
                        
                        <div class="cols-sm-10 input-group">
                            <div class="input-group col-md-6 startDateInput" id="btnStartDate" onClick="datePicker();">
                                <input type="text" class="form-control date-placeholder" name="name" placeholder="D/M/Y" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                        
                        <label for="origen" class="cols-sm-2 control-label">Origen</label>

                        <div class="cols-sm-10 input-group">
                            <input type="text" class="form-control" name="Origen" placeholder="Ciudad" ng-model="conductor.correo" ng-init="conductor.correo" required/> <br>
                            <input type="text" class="form-control" name="OrigenD" placeholder="Direccion" ng-model="conductor.correo" ng-init="conductor.correo" required/>
                        </div>
                        
                        <label for="destino" class="cols-sm-2 control-label">Destino</label>

                        <div class="cols-sm-10 input-group">
                            <input type="text" class="form-control" name="Destino" placeholder="Ciudad" ng-model="conductor.correo" ng-init="conductor.correo" required/> <br>
                            <input type="text" class="form-control" name="DestinoD" placeholder="Direccion" ng-model="conductor.correo" ng-init="conductor.correo" required/>
                        </div>
                        
                        <label for="Automovil" class="cols-sm-2 control-label">Automovil</label>
                        
                        <div class="cols-sm-10 input-group">
                            <select class="form-control" name="automovil" id="genero" ng-model="conductor.genero" ng-init="conductor.genero" required/>
                            <option ng-repeat="automovil in currentConductor.automoviles">  {{automovil.placa}} </option>
                        </select>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="submit()"> Crear Viaje </button>
                        <a href="#" type="button" class="btn btn-primary btn-lg btn-block">Cancelar</a>
                    </div>
                </form>
</div>
