<div class = "container-fluid"> 
    <div class = "row">
        <h1> REVIEWS </h1>
        <div ng-repeat = "review in currentConductor.reviews" >
            <ul >
                <li>
                    <div  ng-if="review.calificacion==1">
                    Calificacion : ★✰✰✰✰
                    </div>
                    <div  ng-if="review.calificacion==2">
                        Calificacion :★★✰✰✰
                    </div>
                    <div  ng-if="review.calificacion==3">
                        Calificacion :★★★✰✰
                    </div>
                    <div  ng-if="review.calificacion==4">
                        Calificacion :★★★★✰
                    </div>
                    <div  ng-if="review.calificacion==5">
                        Calificacion :★★★★★
                    </div>

                    Comentario: {{review.coment}}</li>
                <button class="btn btn-danger"
                        style="border-radius:50px; color:#FFFFFF; "
                        ng-click="eliminarev(review.id)">&times;</button>


            </ul>
            <!--<button class="btn btn-info" ng-click="eliminarev(review.id)"-->
                    <!--style="border-radius:50px; color:#FFFFFF; position: absolute;">-->
                <!--&times;</button>-->

        </div>
        <!--<button class="btn btn-danger"-->
                <!--style="border-radius:50px; color:#FFFFFF; position: absolute; right: 23px; margin-top: 7px; border: 0"-->
                <!--ng-click="eliminarAllrev()">&times;-->
        </button>
    </div>
</div>
<div ui-view = "childrenView"></div>

