/* GENERAL */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mainView {
    margin-top: 50px;
}

.page-scroll {
    height: 50px;
}

#slider {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

p {
    font-size: 20px
}
p.small {
    font-size: 16px
}

a,a.active,a:active,a:focus,a:hover {
    color: #18BC9C
}

hr.line-separator-light , hr.line-separator {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px
}

hr.line-separator-light:after,

hr.line-separator-light {
    border-color: #fff
}

hr.line-separator-light:after {
    background-color: #18BC9C;
    color: #fff
}

hr.line-separator {
    border-color: #2C3E50
}

hr.line-separator:after {
    background-color: #fff;
    color: #2C3E50
}

#slider-content {
    padding: 0;
}

.escondido {
    display: none;
}

/* Izquierda */

#search-form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 80px;
    background-color: #2C3E50;  
    border-radius: 10px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.lugarDropdown {
    width: 100%;
}

.dropdown {
    padding-left: 0px;
    padding-right: 0px;
}

#people-dropdown {
    padding-right: 0px;
    padding-left: 0px; 
}

.form-horizontal .control-label, .left-label {
    display: inline-block;
    text-align: left;
    font-size: 13px;
}

.left-label {
    padding-left: 0px;
}

/* Derecha */

#right-form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #2C3E50;
    border-radius: 10px;
}

.left-glyphicon {
    top: 0px;
}

/* Centro */
#slider {
    background: #18BC9C;
}

#slider label, #slider h1, #slider h2, #slider h3, #slider h4, #slider h5 {
    color: #fff;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2,.fade-carousel .slides .slide-3 {
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.date-placeholder {
    font-size: 12px;
}

.numberValue {
    font-size: 12px; 
}

/* Esto deberia salir del servidor */

.fade-carousel .slides .slide-1 {
    background-image: url(slide-1.jpg); 
}
.fade-carousel .slides .slide-2 {
    background-image: url(slide-2.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(slide-3.jpg);
}

/* Navigation header */

.navbar-custom {
    background: #2C3E50;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none
}

.navbar-custom .navbar-brand,.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover {
    color: #fff
}
.navbar-custom .navbar-nav {
    letter-spacing: 1px
}
.navbar-custom .navbar-nav li a {
    color: #fff
}
.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C
}
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a:focus {
    color: #fff
}
.navbar-custom .navbar-nav li.active a,.navbar-custom .navbar-nav li.active a:active,.navbar-custom .navbar-nav li.active a:focus,.navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #18BC9C
}
.navbar-custom .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    border-color: #fff
}
.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover {
    background-color: #18BC9C;
    color: #fff;
    border-color: #18BC9C
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-custom.affix {
        padding: 10px 0
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}

/* Conductores */
#conductores {
    padding-top: 60px;
    padding-bottom: 100px;
}


#conductores .conductores-item {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#conductores .conductores-item  .caption {
    background: rgba(24, 188, 156, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#conductores .conductores-item .caption:hover {
    opacity: 1
}
#conductores .conductores-item .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#conductores .conductores-item .caption .caption-content i {
    margin-top: -12px
}
#conductores .conductores-item .caption .caption-content h3, #conductores .conductores-item .caption .caption-content h4 {
    margin: 0
}
#conductores * {
    z-index: 2
}
@media (min-width: 767px) {
    #conductores .conductores-item {
        margin: 0 0 30px
    }
}

/* Sobre nosotros */

#sobre_nosotros {
    padding-top: 100px;
    padding-bottom: 100px;
}

section.success {
    background: #18BC9C;
    color: #fff
}

/* Footer */

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}
footer {
    color: #fff
}
footer h3 {
    margin-bottom: 30px
}
footer .upper-footer {
    padding-top: 0px;
    background-color: #2C3E50
}
footer .footer-col {
    margin-bottom: 50px
}
footer .lower-footer {
    padding: 25px 0;
    background-color: #233140
}

/* Cobros */

.cobro-list .panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.cobro-list .panel .btn-group {
    margin: 15px 0 30px;
}

.cobro-list .panel .btn-group .btn {
    transition: background-color .3s ease;
}

.cobro-list .table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.cobro-list .table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}

.cobro-list .table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}

/* TAMAÑO DE FOTO DE COBRO */
.cobro-list .table-filter .media-photo {
    width: 35px;
}

.cobro-list .table-filter .media-meta {
    font-size: 11px;
    color: #999;
}

.cobro-list .table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.cobro-list .table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}

.cobro-list .table-filter .media .title span.pagado {
    color: #5cb85c;
}

.cobro-list .table-filter .media .title span.pendiente {
    color: #f0ad4e;
}

.cobro-list .table-filter .media .title span.cancelado {
    color: #d9534f;
}

.cobro-list .table-filter .media .summary {
    font-size: 14px;
}

.cobro-table a {
    text-decoration: none;
}

.cobro-list {
    margin-bottom: 50px;
}

/* Lugares */

#map {
    height: 580px;
    width: 100%;
}

#location-search {
    height: 150px;
    width: 100%;
    background-color: #233140;
    margin: 0px;
    padding-top: 60px;
}

.location-input {
   height: 40px;
   width: 250px;
   padding-left: 10px;
}

.location-row {
    padding-right: 50px;
}

/* Validator */

.error {
    border: solid 2px #a94442;  
}

.error-message {
    color: #a94442;
}

#error-message-location {
    display: none;
    font-size: 12px;
}

#error-message-locationForm {
    display:none;
    font-size: 12px;
}

.jumbotron{
    color: #2C3E50;
    background-color: #2C3E50;
}

.jumbotron h1{
    color: white;
}

/* calificacion estrella*/
#conductores .form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#conductores .form p {
    text-align: left;
}

#conductores .form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

.updateLocationContainer {
    padding-top: 40px;
}

.updateLocationRow {
    margin-bottom: 20px;
    margin-right: 50px;
}

#accordionUpdateLugar {
    padding-top: 20px;
}

#accordionUpdateLugar a {
    text-decoration: none;
}

.cobro-form-create {
    margin-bottom: 20px;
}

/* Logged */

#loggedInfo {
    padding-left: 10px;
    padding-right: 10px;
}

.reservas-collapse {
    float: right; 
    color: #00b3ee;
}

.resultado {
    display: none;
}

.reservas-viajero {
   display: none;
}