<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid reservas">
    <div class="row">
        <section class="content">
            <h1 class="text-center">Reservas de {{currentViajero.nombre}}</h1>
            <hr class="line-separator">
            <div class="col-md-8 col-md-offset-2" ng-repeat="reserva in reservasRecords">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" >
                                <a ui-sref="reservasDetail({idReserva: reserva.id})">Reserva {{reserva.id}}
                                    <span data-toggle="collapse" href="#toCollapse{{reserva.id}}"><i class="glyphicon glyphicon-chevron-down reserva-collapse pull-right"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="toCollapse{{reserva.id}}" class="panel-collapse collapse">
                            <div class="panel-body" style="height: 200px">
                                <dl>
                                    <dt>Precio</dt>
                                    <dd>{{reserva.precio}}</dd>
                                    <br>
                                    <dt>Conductor</dt>
                                    <dd>{{reserva.valorComision}}</dd>
                                    <br>
                                    <dt>Puestos reservados</dt>
                                    <dd>{{reserva.puestosReservados}}</dd>
                                </dl>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--Reservar-->

    <div id="contenedor-principal" class="container-fluid buscar-reserva">
        <div id="titulo-reservar" class="row">
            <h3 align="center">Reservar</h3>
            <hr class="line-separator">
        </div>
        <div id="busqueda" class="col-sm-offset-1 row form-group busqueda">
            <form id="form-buscar-viajes">
                <div class="col-sm-3">
                    <label for="desde">Ciudad de origen</label>
                    <input id="desde" type="text" class="form-control" placeholder="Desde" name="desde" required><br>
                </div>
                <div class="col-sm-3">
                    <label for="hasta">Ciudad de destino</label>
                    <input id="hasta" type="text" class="form-control" placeholder="Hasta" name="hasta" required><br>
                </div>
                <div class="col-sm-3">
                    <label for="fechasalida">Fecha de salida</label>
                    <input type="date" class="form-control" name="fechasalida"><br>
                </div>
                <div class="col-sm-2" align="center">
                    <button id="buscar" type="submit" class="btn btn-primary btn-lg btn-block" form="form-buscar-viajes" ng-click="buscarviajes()">Buscar</button>
                </div>
            </form>
        </div>

        <div id="resultado" class="row resultado">
            <div class="col-10 col-sm-offset-1 col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">
                        <span class="title">VIAJES ENCONTRADOS</span>
                    </div>
                    <ul id="resultado" class="list-group">
                        <li id="viaje{{viaje.idViaje}}" class="list-group-item" ng-repeat="viaje in viajes">
                            <div class="col-xs-3 col-sm-3">
                                <img src="{{viaje.conductor.imagen}}" alt="{{viaje.conductor.nombre}}" class="img-responsive img-circle" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <h2><span>Conductor: </span>{{viaje.conductor.nombre}}</h2><br/>
                                <div class="row">
                                    <span class="glyphicon glyphicon-road text-muted c-info" data-toggle="tooltip" title="Viaje"></span>
                                    <span class="text"> <span class="text"><a ui-sref="viajeDetail({viajeId: viaje.idViaje})">Viaje {{viaje.idViaje}}</a></span><br/></span>
                                    <span class="glyphicon glyphicon-usd text-muted c-info" data-toggle="tooltip" title="Costo"></span>
                                    <span class="text"><span class="text">Costo {{viaje.gastosCompartidos}}</span><br/></span>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="asientos"></span>
                                    <span class="text">
                                        Cantidad de asientos 
                                        <select id="cantAsientos{{viaje.idViaje}}" class="text">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select><br/>
                                    </span>
                                    <button id="reservar{{viaje.idViaje}}" type="submit" ng-click="reservar(viaje.idViaje)">Reservar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
