<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<br>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 40px" >
                    <h3 style="margin-top: -2px;">Reserva {{currentReserva.id}}

                    </h3>
                </div>
                <!--<ul ng-repeat="viaje in currentReserva.viaje">
                    <a ui-sref="viajeDetail({viajeId: viaje.id})">{{viaje.id}}</a>
                </ul>-->
                <div class="panel-body">
                    <dl>
                        <dt class="bold">Viaje {{currentReserva.viaje.idViaje}}</dt>
                        <br>
                        <dt>Origen (Dirección, Lugar)</dt>
                        <dd>{{currentReserva.viaje.destino.direccion}}, {{currentReserva.viaje.destino.lugar}}</dd>
                        <dt>Destino (Dirección, Lugar)</dt>
                        <dd>{{currentReserva.viaje.origen.direccion}}, {{currentReserva.viaje.origen.lugar}}</dd>
                        <br>
                        <dt>Distancia (Km)</dt>
                        <dd>{{currentReserva.viaje.Kilometros}}</dd>
                        <br>
                        <dt>Conductor</dt>
                        <dd>{{currentReserva.viaje.conductor.nombre}}</dd>
                        <br>
                        <dt>Fecha de partida</dt>
                        <dd>{{currentReserva.viaje.diaYHoraPartida}}</dd>
                        <br>
                        <dt>Fecha de llegada</dt>
                        <dd>{{currentReserva.viaje.diaYHoraLlegada}}</dd>
                        <hr>
                        <dt class="bold">Viajero {{currentReserva.viajero.id}}</dt>
                        <br>
                        <dt>Nombre</dt>
                        <dd>{{currentReserva.viajero.nombre}}</dd>
                        <dt>Teléfono movil</dt>
                        <dd>{{currentReserva.viajero.telMovil}}</dd>
                        <dt>Correo</dt>
                        <dd>{{currentReserva.viajero.correo}}</dd>
                    </dl>
                    <hr>
                    <div class="col-sm-2 pull-right" align="center">
                        <button id="eliminar" type="submit" class="btn btn-primary btn-lg btn-block" ng-click="eliminar()">
                            Eliminar reserva
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
