<div id="contenedor-principal" class="container-fluid">
    <div id="superior" class="row">
        <h3 align="center">Reservar</h3>
        <hr class="line-separator">
    </div>
    <div id="formbuscarviajes" class="col-sm-offset-1 row form-group">
        <div class="col-sm-3">
          <label for="desde">Origen</label>
          <input type="text" class="form-control" placeholder="Desde" name="desde" required><br>
        </div>
        <div class="col-sm-3">
          <label for="hasta">Destino</label>
          <input type="text" class="form-control" placeholder="Hasta" name="hasta" required><br>
        </div>
        <div class="col-sm-3">
          <label for="fechasalida">Fecha de salida</label>
          <input type="date" class="form-control" name="fechasalida"><br>
        </div>
        <div class="col-sm-2" align="center">
          <button type="submit" form="formbuscarviajes" ng-click="buscarviajes()">Buscar</button>
        </div>
    </div>
    <div id="resultado" class="row">
        <div class="col-10 col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">VIAJES</span>
                </div>
            <ul id="resultado" class="list-group">
                <li id="viaje{{viaje.idViaje}}" class="list-group-item" ng-repeat="viaje in viajes">
                    <div class="col-xs-12 col-sm-3">
                        <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                <div class="col-xs-12 col-sm-9">
                    <h2>{{viaje.conductor.nombre}}</h2><br/>
                    <div class="row">
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="Viaje"></span>
                        <span class="text"> <span class="text">(870) 288-4149</span><br/></span>
                        <span class="glyphicon glyphicon-usd text-muted c-info" data-toggle="tooltip" title="Costo"></span>
                        <span class="text"><span class="text">Costo {{viaje.gastosComaprtidos}}</span><br/></span>
                        <span class="glyphicon glyphicon-envelope text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
                        <span class="text">Cantidad de asientos
                            <select class="text">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select><br/>
                        </span>
                        <button type="submit" ng-click="reservar()">Reservar</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
